# Application
APP_PORT=8080
APP_ENV=development
APP_DEBUG=false

# Database
DB_HOST=db
DB_PORT=3306
DB_NAME=taskmanager
DB_USER=taskmanager
DB_PASS=taskmanager_secret
DB_EXTERNAL_PORT=3307

# MySQL Root (for Docker init)
MYSQL_ROOT_PASSWORD=root_secret
